


/* .hero-section {
    background-size: cover;
    background-color:var(--background-color);
    padding: 20rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: left; 
  } */


  /* .hero-text {
  
    text-align: left; 
    max-width: 50rem;
  } */

  /* staw hat luffy goat img for hero section. Roudned into a circle and size reduced */

  /* .hero-section img {
    max-width: 50%;
    height: 35rem;
    border-radius: 50%; 
    margin-bottom: 3rem;
    width: 35rem;
    position: relative;
    
  } */

   /* Styles applied to the h2 heading in the hero section */
   /* .hero-section h2 {
    font-size: 5.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color:var(--black-font);
    line-height: 1.2;
    margin-right: 6rem;
  
   */
  
  /* Styles applied to the <p> text in the hero section */
  /* .hero-section p {
    font-size: 1.8rem;
    color:var(--text-color);
    font-weight: 500;
    line-height: 1.6;
  } */



  

  
  /* .about_section {
    background-size: cover;
    background-color:var(--whiteground-color);
    padding: 20rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: left; /* Align text to the left */
  
   
  
  /*Style applied to where the about content will begin, positioning the box etc  */
  /* .about-content {
    align-items: center;
    display: flex;
    justify-content: center;
    
  } */
  
  /* Style applied to the about sections h3 header being the ABOUT title. The color/font/and text styling  */
  /* .about_section h3 {
    color:var(--head-blue);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
  } */
  
  /* Style applied to the about section h4 header being the about 1 liner */
  /* .about_section h4 {
    color:var(--black-font);
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  } */
  /* Style/Formatting for the about card , where the about content will be enclosed in  */
  /* .about-card {
    display:flex;
    border: 1px solid var(--whiteground-color);
    border-radius: 8px;
    height: auto;
    margin: 0 auto;
    max-width: 1000px;  
  } */
  
  /* Formatting for the about-img container */
  /* .about-img {
    flex: 1;
    height: auto;
  } */
  /* Style applied to the actual about image */
  /* .about-img img {
    width:100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
  }
   */
  /* Formatting for the about-text container */
/*   
  .about-text {
    flex: 1;
    padding: 20px
  } */
  
  /* Style for the <p> text in the about section  */
  
  /* .about-text p {
    color: var(--about-text);
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
  } */
  